{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Cars list{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script>
      function deleteList(listUrl){
        if(confirm("Are you sure you want to delete this item?")){
          const Http = new XMLHttpRequest();
          const url=listUrl;
          Http.open("GET", url);
          Http.send();
        }


      }
    </script>

    <style>
      .largeCell{
        width:80%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <br>
      <div style="float:right">
        Page views: {{page_visits}}
      </div><br>
      <ol class="breadcrumb my-4">
        {% block breadcrumb %}
        {% endblock %}
      </ol>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
